* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

header {
    /* Backgroud  */
    background: url(../media/catcher.jpg) no-repeat center/100%;
    color: #ffffff;
    height: 20em;
}

header>nav {
    /* TODO: Fixed the nav to the top of the page */
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 100%;
    /* Options design */
    border-bottom: solid 1px white;
}

header>nav>a {
    padding: 1em 2em;
    text-decoration: none;
    /* TODO: Change the color so doesn't melt with the background */
    color: #ffffff;
}


/* Cacther section */

#catcher {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

#catcher>h1 {
    margin-bottom: 1em;
    letter-spacing: .1em;
}

#catcher>a {
    text-decoration: none;
    color: #ffffff;
    opacity: 100%;
    /* Button like decoration */
    padding: .5em 2em;
    border: 1px solid #ffffff;
    letter-spacing: .2em;
}

#catcher>a:hover {
    transform: translate(.2em, .2em);
}


/* First section (duh)*/

#firstSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

#firstSection>h2 {
    padding-top: 1.5em;
    padding-bottom: 1em;
}

#firstSection>h2+*p {
    width: 50%;
    text-justify: center;
}


/* Second section */

#secondSection {
    width: fit-content;
    background: linear-gradient(to bottom, #bab9be, #dcdadc);
    display: flex;
    align-items: center;
    flex-direction: row;
    /* Text  */
}

#secondSection>div {
    flex: 1 1 auto;
    text-align: center;
    font-size: 1.2em;
}

#secondSection>picture {
    max-width: 50%;
    height: auto;
    flex: 1 1 auto;
}


/* Third section */

#thirdSection {
    display: flex;
    flex-direction: column;
    position: relative;
}

#thirdSection>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#thirdSection>div>p {
    flex: 1 1 auto;
    /* text-align: end; */
}

.img3 {
    width: 22em;
    height: auto;
}


/* 
.img3:nth-child(1) {
    flex: 1 1 auto;
} */

.img3:nth-child(2) {
    flex: 1 1 auto;
    align-self: baseline;
}

.img3:nth-child(3) {}